extends layout.pug 
include utils.pug

append head
    link(rel="stylesheet", href="/stylesheets/comment-edit.css")

block content 
    div.outer-form-container
        h1= title
        +validationErrorSummary(errors)
        div.form-container
            form(action=`/comments/${commentToEdit.id}/edit`, method="post").form-element
                input(type="hidden", name="_csrf", value=csrfToken)
                textarea(name="comment").comment-edit-textarea= commentToEdit.comment
                div.cmt-buttons
                    button(type="submit").btn.signUpButton.orange.cmt Update
                    a(href=`/posts/${postId}`).btn.signUpButton.cancel.cmt Cancel