extends layout.pug
include utils.pug

append head
    link(rel="stylesheet", href="/stylesheets/forms.css")


block content
    div.outer-form-container
        h1= title
        +validationErrorSummary(errors)
        div.form-container
            form(action="/posts", method="post").form-element#upload-form
                input(type="hidden", name="_csrf", value=csrfToken)#token

                label(for="title") Title
                input(type="text", name="title", value=post.title, id="title")

                label(for="description") Description
                textarea(name="description", cols="30", rows="10", id="description")= post.description

                label(for="file") Upload Art
                input(type="file", name="file", id="file", accept="image/*", required)

                div.form-buttons
                    button(type="submit").btn.signUpButton.orange Submit
                    a(href="/"): button(type="button").btn.signUpButton.cancel Cancel
    script(src="/javascripts/file-upload.js")
