extends layout.pug
include utils.pug

append head
    link(rel="stylesheet", href="/stylesheets/forms.css")


block content
    div.outer-form-container
        h1= title
        +validationErrorSummary(errors)
        div.form-container
            form(action=`/posts/${post.id}/edit`, method="post").form-element
                input(type="hidden", name="_csrf", value=csrfToken)
                +field("Title", "title", post.title, 'text')
                +field("Description", "description", post.description, "textarea")
                div.form-buttons
                    button(type="submit").btn.signUpButton.orange Submit
                    a(href=`/posts/${post.id}`): button(type="button").btn.signUpButton.cancel  Cancel
