extends layout.pug
include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/forms.css")

block content
    div.outer-form-container
        h1 Edit User Info
        +validationErrorSummary(errors)
        div.form-container
            form(action=`/${sessionUsername}/edit`, method="post").form-element.avatarButton
                input(type="hidden", name="_csrf", value=csrfToken)

                +field("First Name", "firstName", user.firstName, 'text')
                +field("Last Name", "lastName", user.lastName, 'text')


                div.form-buttons.editButtons
                    button(type="submit").btn.signUpButton.orange.edit Edit
                    a(href="/"): button(type="button").btn.signUpButton.cancel  Cancel
                
                div.form-buttons.avatarButton    
                    a(href="/edit-avatar"): button(type="button").btn.signUpButton.avatarButton.cancel  Edit Avatar
