extends layout.pug

append head 
  link(rel="stylesheet" href="/stylesheets/error.css")
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

block content
  div.error-outer-container
    .error-img 
      img(src="/static/images/nestedNickmoji.gif", alt="")
    div.error-message
      h1.flashtext #{error.status} #{message}
    //- div.error-status
    //-   pre #{error.stack}
