doctype html
html
  head
    title= "MoOA"
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    //- Grabs both fonts and all their available font weights
    link(href="https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
    //- link(href="https://fonts.googleapis.com/css2?family=Codystar:wght@300&display=swap" rel="stylesheet")
    //- link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/styles.css")
    link(rel="shortcut icon" type="image/jpg" href="/static/images/logo.jpg")
    //- link(rel='stylesheet' href='/stylesheets/reset.css')
    block head
    script(src="https://kit.fontawesome.com/d90640e755.js" crossorigin="anonymous")


  body

    if locals.authenticated
      header
        #header-container.loggedin
          span.title#full-title MUSEUM <span id="of" class="title">OF</span> ONLINE ART
          nav
            ul.navLinks
              li
                h3.welcome-back= `Welcome back, ${user.firstName}!`
              li
                a.createPost(href="/posts/create")
                  i(class="fa-solid fa-square-plus navIcons")
              li
                a.home(href="/")
                  i(class="fa-solid fa-house-chimney navIcons")

      .sideBarContainer.grey
        .sideBar
          a(href="/").logo-home: img(class="logo" src="/static/images/logo.jpg", alt="MoOA").site-logo
          ul.sideBarUl
            li
              a(href=`/${sessionUsername}`) 
                i(class="fa-solid fa-user avatar")
            li
              a(href=`/${sessionUsername}`) SETTINGS
            li#bottom-border
              a(href="/signout")#logout-btn SIGN OUT
            li: a(href="https://linktr.ee/alinaqvi1")
              i(class="fa-solid fa-circle-info info-grey")
      .main-body
        block content

    else
      header
        #header-container
          span.title#full-title MUSEUM <span id="of" class="title">OF</span> ONLINE ART
          nav
            ul.navLinks
              li
                a.signInLink(href="/login")
                  button.signInButton SIGN IN
              li
                a.callToAction(href="/signup")
                  button.signUpButton SIGN UP
      .sideBarContainer
        .sideBar
          .logoDiv
             a(href="/").logo-home: img(class="logo" src="/static/images/logo.jpg", alt="MoOA").site-logo
          .sideBarDiv
            .sideBarLinkContainer
              ul.sideBarUl
                li: a(href="https://linktr.ee/alinaqvi1")
                  i(class="fa-solid fa-circle-info info-loggedout")
      .main-body
        block content
