extends layout.pug
include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/forms.css")

block content
    div.outer-form-container
        h1= title
        +validationErrorSummary(errors)
        div.form-container
            form(action="/signup", method="post").form-element
                input(type="hidden", name="_csrf", value=csrfToken)

                +field("First Name", "firstName", user.firstName, 'text')
                +field("Last Name", "lastName", user.lastName, 'text')
                +field("Username", "username", user.username, 'text')
                +field("Email", "email", user.email, 'email')
                +field("Password", "password", null, 'password')
                +field("Confirm Password", "confirmPassword", null, 'password')
            div.form-buttons
                button(type="submit").btn.signUpButton.orange Sign Up
                button(type="button").btn.signUpButton.cancel: a(href="/") Cancel
            .demo-user
                button(type="button").btn.signUpButton.demo: a(href="/") Demo User
