.outer-form-container {
    position: absolute;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer-form-container > h1 {
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 40px;
    font-weight: 500;
    letter-spacing: 3px;

}

.form-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-bottom: 20px;
    font-weight: 300;
}

.form-input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-self: center;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    height: 50px;
    width: 200px;
}

.signUpButton.orange {
    background-color: #e99d2d;
    text-transform: uppercase;
    border-radius: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.377);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.171);
    transition: background-color;
    cursor: pointer;
}

.signUpButton.cancel {
    background-color: grey;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.377);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.171);
}

.signUpButton.demo {
    background-color: transparent;
    border:#333333 2px solid;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.205);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.171);
    width: 100%;
    height: 50px;
    transition: background-color linear 00.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cancel-button,
.btn.signUpButton.cancel {
    cursor: pointer;
}

.btn-text-demo {
    color: black;
    align-self: center;
    font-size: 15px;
}

.demo-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.demo-user a{
    font-size: 15px;
    font-weight: 500;
}

.signUpButton.cancel a {
    color: white;
    font-size: 15px;
}

.signUpButton.orange:hover {
    transition-duration: 0.25s;
    background-color: #b47312;
}

.signUpButton.cancel:hover {
    transition-duration: 0.25s;
    background-color: #424242;
}

.signUpButton.demo:hover {
    background-color: rgba(128, 128, 128, 0.383);
}

.error-container {
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    color: rgb(156, 2, 2);
    padding-left: 150px;
    padding-right: 150px;
    width: 600px;
    margin-bottom: 30px;

}

.error-container ul li {
    font-weight: 400;
    margin: 15px 0 15px 0;
    list-style: circle;
}


.form-input.textarea {
    height: 100px;
    resize: none;
}
