.outer-container {
    position:absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 150px;
    font-family: IBM Plex Sans;
}

.post-header {
    display: flex;
    justify-content: flex-start;
}

.post-header h1 {
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 350;
    margin-bottom: 20px;
    margin-right: 50px;
}

.likes {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.likes-num {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
}

.likes i {
    margin-left: 20px;
    font-size: 30px;
    color: #424242;
    transition: color linear 0.25s;
}

.like-icon:hover {
    color: #E99D2D;
    text-shadow: 1px 1px 3px black;
}

.artist-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.artist-name {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.artistHandle a {
    font-size: 15px;
    transition: color linear 0.2s;
}

.artistHandle a:hover {
    color: #E99D2D;
}

.right-side {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.post-date {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.name-and-follow-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.follow-artist {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.follow-icon {
    font-size: 20px;
    margin-left: 15px;
    color: #424242;
    transition: color linear 0.25s;
}

.follow-icon:hover {
    color: #E99D2D;
    text-shadow: 1px 1px 3px black;
}

.edit-delete {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
}

.edit-delete a button {
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.image {
    width: 100%;
}
.image img {
    width: 100%;
}

.description {
    width: 100%;
    margin: 20px 0;
}

.description p {
    font-size: 15px;
    font-weight: 350;
    letter-spacing: 2px;
    word-spacing: 2.8px;
}

.comments-outer-container {
    width: 100%;
}

.comments-heading {
    text-transform: uppercase;
    font-size: 25px;
    margin: 50px 0 30px 0;
}

.add-comment-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-form {
    background-color: #424242;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 20px;
}

.form-element {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.comment-textbox {
    width: 87%;
    height: 100px;
    margin-bottom: -15px;
    resize: none;
}

.comment-submit {
    align-self: flex-start;
    height: 50px;
    width: 100px;
    background-color: #acacac;
    color: #424242;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
    transition: background-color linear 0.25s;
}

.comment-submit:hover {
    color: #000000;
    background-color: #6d6d6d;

}

.comment-login {
    color: rgb(235, 163, 30)
}