.outer-container {
    position:absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
    font-family: IBM Plex Sans;
    width: 90%;
}

.post-div {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    position: relative;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto 1fr;
    width: 85%;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

.post-header h1 {
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 350;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.image {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.likes {
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin: 10px 0;
    padding-bottom: 38px;
}

.likes-num {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
}

.likes i {
    margin-left: 20px;
    font-size: 30px;
    color: #424242;
    transition: color linear 0.25s;
}

.like-icon:hover {
    color: #E99D2D;
    text-shadow: 1px 1px 3px black;
}

.artist-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.artist-name {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.artistHandle a {
    font-size: 15px;
    transition: color linear 0.2s;
    font-style: italic;
}

.artistHandle a:hover {
    color: #E99D2D;
}

.right-side {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.post-date {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.name-and-follow-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.follow-artist {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.follow-icon {
    font-size: 20px;
    margin-left: 15px;
    color: #424242;
    transition: color linear 0.25s;
}

.follow-icon:hover {
    color: #E99D2D;
    text-shadow: 1px 1px 3px black;
}

.edit-delete {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
}

.edit-delete a button {
    width: 100px;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}



.image img {
    width: 100%;
}

.image-link {
    width: 100%;
}

.description {
    width: 100%;
    margin: 20px 0;
}

.description p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 350;
    letter-spacing: 2px;
    word-spacing: 2.8px;
    text-align: justify;
    text-justify: inter-word;
}

.comments-outer-container {
    width: 100%;
}

.comments-heading {
    text-transform: uppercase;
    font-size: 25px;
    margin: 50px 0 30px 0;
}

.add-comment-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.comment-form {
    background-color: #424242;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 10px;
}

.form-element {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: stretch;
}

.comment-textbox {
    width: 100%;
    height: 100px;
    margin-bottom: -15px;
    padding: 10px;
    resize: none;
    font-size: 12px;
    font-weight: 400;
}

.comment-button-container {
    width: 15%;
    display: flex;
    justify-content: center;
}

.comment-submit {
    align-self: flex-start;
    height: 50px;
    width: 75px;
    background-color: #acacac;
    color: #424242;
    font-size: 12px;
    border: none;
    margin-left: 20px;
    text-transform: uppercase;
    transition: background-color linear 0.25s;
    justify-self: center;
}

.comment-submit:hover {
    color: #000000;
    background-color: #6d6d6d;

}

.submit-icon {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .submit-word {
        display: none;

    }
    .submit-icon {
        display: flex;
        visibility: visible;
        justify-content: center;

    }

    .comment-submit {
        width: 40px;
    }

    .comment-avatar {
        visibility: hidden;
    }
}

.comment-login {
    color: rgb(235, 163, 30)
}

.comment-list {
    display: flex;
    flex-direction: column;
}

.comment-container {
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    margin: 10px 0;
    padding-bottom: 20px;
}

.comment-avatar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 10px;
}

.comment-avatar i {
    font-size: 30px;
}

.comment-main {
    padding: 25px 0;
}

.comment-main > h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}

.comment-main p {
    font-weight: 375;
    font-size: 12px;
}

.comment-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px 15px 0 0;
}

.comment-edit-delete {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0;
}

.comment-edit-delete i {
    font-size: 15px;
}

a .edit-comment {
    transition: color linear 0.25s;
}

a .edit-comment:hover {
    color: #E99D2D;
    text-shadow: 1px 1px 3px black;
}

a .delete-comment {
    position: relative;
    right: 2px;
    padding-top: 1.2em;
    transition: color linear 0.25s;
}

a .delete-comment:hover {
    color: #c72b2b;
    text-shadow: 1px 1px 3px black;
}

.date {
    text-transform: uppercase;
    font-weight: 300;
}


i#like-button.like-icon.fa-thumbs-up.liked {
    color: rgba(14, 167, 237, .93);

}

.comment-profile {
    transition: color linear 0.25s;
}

.comment-profile:hover {
    color: #E99D2D;
    text-shadow: 1px 1px 3px black;
}



/* .fake-div {
    width: 5%;
} */

.left-div {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.right-div {
    grid-column: 2 / 3;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 35px;
}

.handle-date-follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.artistHandle {
    padding-bottom: 5px;
}
